
{% extends 'base_main.html' %}

{% block title %}
    天天生鲜-购物车
{% endblock %}

{% block content %}
	<div class="total_count">全部商品<em>2</em>件</div>	
	<ul class="cart_list_th clearfix">
		<li class="col01">商品名称</li>
		<li class="col02">商品单位</li>
		<li class="col03">商品价格</li>
		<li class="col04">数量</li>
		<li class="col05">小计</li>
		<li class="col06">操作</li>
	</ul>
    {% for goods in result %}
        <ul class="cart_list_td clearfix" id="goods_{{ goods.0.id }}">
            <li class="col01">
                <input type="checkbox" onclick="check({{ goods.0.id }})" id="check_{{ goods.0.id }}" name="" {% if goods.2 %} checked {% endif %}>
            </li>
            <li class="col02"><img src="/media/{{ goods.0.goods_front_image }}"></li>
            <li class="col03">{{ goods.0.name }}<br><em>{{ goods.0.shop_price }}元/500g</em></li>
            <li class="col04">500g</li>
            <li class="col05" id="tt_{{ goods.0.id }}">{{ goods.0.shop_price }}元</li>
            <li class="col06">
                <div class="num_add">
                    <a href="javascript:;" class="add fl"
                       onclick="add_cart({{ goods.0.id }});">
                        +
                    </a>
                    <input type="text" class="num_show fl" id="num_show_{{ goods.0.id }}" value="{{ goods.1 }}">
                    <a href="javascript:;" class="minus fl"
                    onclick="sub_cart({{ goods.0.id }})">
                        -
                    </a>
                </div>
            </li>
            <li class="col07" id="price_{{ goods.0.id }}">{{ goods.3 }}元</li>
            <li class="col08"><a onclick="del_cart({{ goods.0.id }})" href="{% url 'cart:del_cart' goods.0.id %}">删除</a></li>
        </ul>
    {% endfor %}
	<ul class="settlements">
		<li class="col01"><input type="checkbox" name="" checked=""></li>
		<li class="col02">全选</li>
		<li class="col03">合计(不含运费)：<span>¥</span><em>0</em><br>共计<b>0</b>件商品</li>
		<li class="col04"><a href="{% url 'order:place_order' %}">去结算</a></li>
	</ul>
    {% csrf_token %}
    <script>
        <!--刷新价格/件数-->
        function cart_price(){
            $.get('/cart/cart_price/', function(data){
                if(data.code == '200'){
                    $('.total_count em').html(data.all_total)
                    $('.settlements .col03 em').html(data.all_price)
                    $('.settlements .col03 b').html(data.is_select_num)
                }
            })
        }
        cart_price()

        <!--添加商品数量-->
        function add_cart(id){
            var num = $('#num_show_' + id).val()
            var new_num = parseInt(num) + 1
            var pr = parseFloat($('#tt_' + id).text())
            var check = $('#check_' + id).get(0).checked;
            var total_price = new_num * pr
            $('#price_' + id).html(total_price+'.0元')
            $('#num_show_'+id).val(new_num)
            if(check){
                change_cart(id, new_num)
            }
        }
        <!--减少商品数量-->
        function sub_cart(id){
            var num = $('#num_show_' + id).val()
            if(parseInt(num) > 1){
                var new_num = parseInt(num) - 1
                var pr = parseInt($('#tt_' + id).text())
                var check = $('#check_' + id).get(0).checked;
                $('#price_' + id).html(new_num * parseInt(pr) + '.0元')
                $('#num_show_' + id).val(new_num)
                if(check){
                    change_cart(id, new_num)
                }
            }
        }

        function check(id){
            var checked = $('#check_' + id).get(0).checked;
            if(checked){
                <!--alert('勾选')-->
                goods_select = 1
                var nums = $('#num_show_' + id).val()
                console.log(nums)
                change_cart(id, nums, goods_select)
            }else{
                <!--alert('取消')-->
                goods_select = 0
                var nums = $('#num_show_' + id).val()
                change_cart(id, nums, goods_select)
            }

        }

        <!--修改数量或选择状态-->
        function change_cart(id, new_num, goods_select=1){
            var csrf = $('input[name="csrfmiddlewaretoken"]').val()
            $.ajax({
                url:'/cart/change_cart/',
                type:'POST',
                data:{'goods_id':id, 'goods_num': new_num, 'goods_select': goods_select},
                headers:{'X-CSRFToken': csrf},
                dataType:'json',
                success:function(data){
                    <!--刷新数量/总价/件数-->
                    cart_price()
                },
                error:function(data){
                }
            })
        }

        <!--function del_cart(id){-->
            <!--var csrf = $('input[name="csrfmiddlewaretoken"]').val()-->
            <!--$.ajax({-->
                <!--url: '/cart/del_cart/'+ id + '/',-->
                <!--type: 'POST',-->
                <!--dataType: 'json',-->
                <!--headers:{'X-CSRFToken': csrf},-->
                <!--success: function(data){-->
                    <!--&lt;!&ndash;location.href = '/cart/cart/'&ndash;&gt;-->
                    <!--$('#goods_' + id).remove()-->
                <!--},-->
                <!--error: function(data){-->
                    <!--alert('失败')-->
                <!--}-->
            <!--})-->
        <!--}-->
    </script>
{% endblock %}
